body {
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header-wrapper {
    width: 100%;
    border-bottom: .0625rem solid #EFF1F5;
}

.header {
    max-width: 970px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
}

.header-items {
    display: flex;
    justify-content: space-between;
    width: 400px;
    gap: 20px;
    align-items: center;
}

.header-items div {
    color: black;
    cursor: pointer;
}

#index-container {
    width: 970px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    width: 70px;
    border-radius: 10px;
    align-items: center;
}