#starRating {
    display: inline-block;
    cursor: pointer;
}
.star {
    display: inline-block;
    position: relative;
    width: 48px;  /* 원하는 크기로 조절 */
    height: 48px;
    background: url('/resources/icons/findPro/empty_star.png') no-repeat center center;
    background-size: contain;
    margin-right: 4px; /* 별 사이 간격 */
}
.star-fill {
    position: absolute;
    top: 1px;
    left: 0;
    height: 100%;
    width: 0;
    background: url('/resources/icons/findPro/filled_star.png') no-repeat center center;
    background-size: contain;
    overflow: hidden;
    pointer-events: none; /* 마우스 이벤트가 부모에 집중되도록 */
}