.community-header-wrapper {
    border: 7px solid red;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    height: 150px;
    z-index: 2;
}
.community-logo-span{
    font-size: 40px;
    font-weight: bold;
}

.community-button-container {
    display: flex;
}

.community-tab {
    border: 7px solid greenyellow;
    position: sticky;
    top: 70px;
    height: 177px;
    width: 200px;
    z-index: 2;
}

.community-body-wrapper {
    display: flex;
    gap: 30px;
}

.community-content {
    border: 7px solid darkblue;
    height: 1000px;
    width: 100%;
}

/*-----------------------------------------------*/

/*Main.jsp*/
.community-button2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.community-button2-container div {
    flex: 1;
    text-align: center;
    padding: 20px;
}
