.community-header-wrapper {
    border: 7px solid red;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    height: 50px;
    z-index: 2;
    background-color: white;
}
.community-logo-span{
    font-size: 40px;
    font-weight: bold;
}

.community-button-container {
    display: flex;
}

/*-----------------------------------------------*/

/*選択表示*/
.community-tab {
    border: 7px solid greenyellow;
    position: sticky;
    top: 70px;
    height: 177px;
    width: 200px;
    z-index: 2;
}

.community-body-wrapper {
    display: flex;
    gap: 30px;
}

/*-----------------------------------------------*/

/*内容物*/
.community-content {
    border: 7px solid darkblue;
    height: 1000px;
    width: 100%;
}

/*-----------------------------------------------*/

/*Main.jsp*/
.community-button2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.community-button2-container div {
    flex: 1;
    text-align: center;
    padding: 20px;
}

/*-----------------------------------------------*/

/*選択したとき色をつける*/
.selectable-client {
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.selectable-pro {
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.selected {
    background-color: lightblue;
    color: white;
}

/*-----------------------------------------------*/

/*書きこみボタン*/
.community-client-write {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: powderblue;
    border-radius: 4px;
    color: white;
    cursor: pointer;

}

.community-pro-write {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: darkseagreen;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}